body {
    font-family: Arial, sans-serif;
    background-color: #535C91;
    background-image: linear-gradient(to top,#070F2B,#1B1A55,#535C91,#9290C3);
    margin: 0;
    padding: 0;
}

.container {
    width: 570px;
    margin: 100px auto;
    padding: 40px;
    background-color: #EEEEEE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px;
}

#phone-input {
    flex: 1;
    padding: 10px;
}

label {
    font-weight: bold;
    margin: 10px;
}

input, select, options {
    flex: 1;
    padding: 10px;
    border-radius: 60px;
}

#country_code {
    width: 25%;
    margin-right: 5px;
}

#f_name, #l_name {
    width: 40%;
}

.remember-me {
    flex: 1;
    display: flex;
    align-items: center;
}

.remember-me input[type="checkbox"] {
    margin-right: 5px; /* Add less margin to the right of the checkbox */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #535C91;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 20px; /* Add some space between the "Remember Me" checkbox and the submit button */
}

button:hover {
    background-color: #1B1A55;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    max-width: 100px;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    margin-top: 30px;
    color: #1B1A55;
}

.checkbox {
    display: block;
    justify-content:space-between;
    align-items: center;
    margin:35px;
}
